body{
    background-color: #FEFAE0;
    color: #283618;
}

.flexbox-container{
    display: flex;
}

.flexbox-item{
    width: 200px;
    margin: 10px;

    /*Used for debugging
    border: 3px solid #333; */

    text-align: center;
    align-items: center;
}

button{
    background-color: #DDA15E;
    width: 200px;
    height: 50px;
}

/* Palette Used -> https://coolors.co/palette/606c38-283618-fefae0-dda15e-bc6c25 */